/*  style_bfco.css  */
/*  External style sheet for bereaoutreach.org  */
/*  July 2010  */

body { background-color: #ffffff;
    /*background-image: url(./images/blue_line_background.jpg);*/
    text-align: center;
    border-width: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: black; }

h1, h2, h3, h4, h5, h6 { color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding-left: 5pt;
    padding-right: 5pt }

h1 { font-size: 25px; font-weight: normal; }
h2 { font-size: 21px; font-style: normal; font-weight: normal; }
h3 { font-size: 18px; color:#cc3333; font-style: normal; font-weight: normal; }
h4 { font-size: 17px; font-style: normal; font-weight: bold;  }
h5 { font-size: 17px; font-style: normal; font-weight: normal; }
h6 { font-size: 16px; font-style: italic; font-weight: normal; }

dl { text-align:left; margin-left:40px; margin-right:30px; font-size:16px; color:black; }
dt {text-align: left; font-weight: bold;}
dd {text-align: left;}

form { text-align:center }

table { background-color:transparent; }

table#outer {
    background-color:#ffffff;
    background-image:url('./images/blue_gradient_600.jpg');
    background-position:bottom;
    background-repeat:repeat-x;
    width:750px;
    text-align:center;
    border-color:#0078e5;
    border-style:solid;
    border-width:5px;
    margin:auto }

table#outer_short {
    background-color:#ffffff;
    background-image:url('./images/blue_gradient_300.jpg');
    background-position:bottom;
    background-repeat:repeat-x;
    width:750px;
    text-align:center;
    border-color:#0078e5;
    border-style:solid;
    border-width:5px;
    text-align:center;
    margin:auto }

table#main {
    width:750px;
    margin: auto;
    background-color:transparent;
}

img { border-style:none; }

td { text-align:center; vertical-align:middle; }

p { text-align:left; margin-left:30px; margin-right:30px; font-size:16px; color:black; }

a:link { color: #000066;
    text-decoration: none }
a:visited { color: #cc3300;
    text-decoration: none }
a:active { color: red;
    text-decoration: none }
a:hover { color: black; background-color: #ffcc00; }

a.icon:hover {
    background-color:transparent;
    opacity: 0.5;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
}

/*  NAVIGATION BAR  */

table#navbar { width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 0em;
    background-color:transparent;
    font-weight: bold;
    font-size: 16px; }

table#navbar a:link { color: #000066; font-weight: bold; }
table#navbar a:visited { color: #000066; font-weight: bold; }
table#navbar a:active { color: #ffffcc; background-color: #000000; }
table#navbar a:hover { color: #ffffff; background-color: #0078e5; }

ul { text-align:left; margin-left: 70px; padding-left: 1em}

ul li { list-style-type: square;
    color: black; }

ul li li { list-style-type: circle }

div.smallbox
{ margin-left:100px;
    width:220px;
    height:110px;
    background-color:#ffffff;
    background-image:url('./images/blue_gradient_85.jpg');
    background-position:bottom;
    background-repeat:repeat-x;
    border:2px solid black;  }

div.floater
{ position:fixed;
    left:180px;
    top:50px;
    z-index:2;
    color:#000000;
    width:250px;
    background-color:#eeeeee;
    opacity:0.75;
    filter:alpha(opacity=75); /* For IE8 and earlier */
    border:2px solid red;  }

div.floater ul { text-align:left; margin-top:5px; margin-left:20px; padding-left:1em; }

div.floater h4 { color:red; }

div.movie
{ width:400px;
    height:255px;
    float:right;
    padding-top:1em;
    padding-bottom:0px;
    padding-left:5px;
    padding-right:0px; }

div.copyright
{ text-align:center;
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
    color:#ffcc00; }

div.slide
{ float:right;
    width:300;
    padding-top:1em;
    padding-bottom:1em;
    padding-left:5px;
    padding-right:0px; }

.blockquote { font-family: Times, serif;
    font-style: italic;
    padding-bottom: 0em;
    padding-left: 8em;
    margin-right: 8em; }

